
/* SVG Color Classes */
.c-719D71{fill:url(#SVGID_2_);stroke:#719D71;stroke-width:3;stroke-miterlimit:10;}
.c-809D3D{fill:#809D3D;}
.c-95C64F{fill:#95C64F;}
.c-708437{fill:#708437;}
.c-none{fill:none;}
.c-2B2B35{fill:#2B2B35;}
.c-A{fill:url(#SVGID_A_);}
.c-283E5E{fill:#283E5E;}
.c-2F4972{fill:#2F4972;}
.c-20344C{fill:#20344C;}
.c-B{fill:url(#SVGID_B_);}
.c-C{fill:url(#SVGID_C_);}
.c-D{fill:url(#SVGID_D_);}
.c-E{fill:url(#SVGID_E_);}
.c-F{fill:url(#SVGID_F_);}
.c-212228{fill:#212228;}
.c-E4E4A9{fill:url(#SVGID_1_);stroke:#E4E4A9;stroke-width:3;stroke-miterlimit:10;}
.c-C1C57F{fill:#C1C57F;}
.c-E0E895{fill:#E0E895;}
.c-ADAD7A{fill:#ADAD7A;}
.c-none{fill:none;}
.c-2B2B35{fill:#2B2B35;}
.c-457645{fill:url(#SVGID_3_);stroke:#457645;stroke-width:3;stroke-miterlimit:10;}
.c-699E42{fill:#699E42;}
.c-648E3D{fill:#648E3D;}
.c-5C8039{fill:#5C8039;}
.c-none{fill:none;}
.c-2B2B35{fill:#2B2B35;}
.c-445F78{fill:url(#SVGID_4_);stroke:#445F78;stroke-width:3;stroke-miterlimit:10;}
.c-4587B2{fill:#4587B2;}
.c-4C96CC{fill:#4C96CC;}
.c-377593{fill:#377593;}
.c-none{fill:none;}
.c-2B2B35{fill:#2B2B35;}
.cls-1 { fill: #708437; }
.cls-2 { fill: #809d3d; }
.cls-3 { fill: #95c64f; }
.cls-4 { fill: #587c38; }
.cls-5 { fill: #699e42; }
.cls-6 { fill: #648e3d; }
.cls-7 { fill: #c9c65f; }
.cls-8 { fill: #e0e895; }
.cls-9 { fill: #cbcb7c; }
.cls-10 { fill: #2e3c51; }
.cls-11 { fill: #2f4972; }
.cls-12 { fill: #243754; }
.cls-13 { fill: #4587b2; }
.cls-14 { fill: #4c96cc; }
.color-7e7e80{ fill: #7e7e80; }
.fff { fill: #fff; }
.money{fill:url(#SVGID_MONEY_);}
	.c-E8E8E9{fill:#E8E8E9;}

  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    fill:rgba(25,150,255,1);
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill:rgba(25,150,255,0.7);
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% {
      transform: translate3d(85px,0,0);
    }
  }
